.App {
  margin-top: 2.3vh;
  margin-left: 13.5vw;
}
.App .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5vh;
}
.center {
  left: center;
  top: center;
}
.iframe {
  width: 100vw;
  height: 100vh;
}
